openapi: 3.0.0
info:
  title: Wyre API
  description: Wyre's Public API
  contact: {}
  version: '3.0'
servers:
  - url: 'https://api.testwyre.com'
    description: ''
    variables: {}
  - url: 'https://api.sendwyre.com'
    description: ''
    variables: {}
paths:
  /v2/sessions/auth/key:
    post:
      tags:
        - Authentication
      summary: Submit Auth Token
      description: Submit a client-generated secret key that can be used as an Auth Token and generate a corresponding API Key for it
      operationId: SubmitAuthToken
      parameters: []
      requestBody:
        description: The client-generated secret key
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitAuthTokenRequest'
            example:
              secretKey: SK-XXXXX-XXXXX-XXXXX-XXXXX
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitAuthTokenResponse'
              example:
                apiKey: AK-XXXXX-XXXXX-XXXXX-XXXXX
                authenticatedAs: '`null`'
      deprecated: false
      security: []
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v2/apiKeys:
    post:
      tags:
        - Authentication
      summary: Create API Key
      description: Generate a new set of API credentials
      operationId: CreateAPIKey
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            example:
              desc: User key
              type: FULL
              ipWhitelist:
                - 123.45.67.89
                - 123.45.67.90
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
              example:
                sessionId: RGFXT9DWMYR
                owner: 'account:AC_XXXXXXXXXXX'
                createdAt: 1628091367671
                expiresAt: null
                apiKey: AK-XXXX-XXXX-XXXX-XXXX
                type: FULL
                desc: User key
                ipWhitelist:
                  - 123.45.67.89
                  - 123.45.67.90
                destSrnWhitelist: []
                secretKey: SK-XXXX-XXXX-XXXX-XXXX
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v2/apiKey/{apiKey}':
    delete:
      tags:
        - Authentication
      summary: Delete API Key
      description: Delete an existing API Key
      operationId: DeleteAPIKey
      parameters:
        - name: apiKey
          in: path
          description: The API Key you wish to delete
          required: true
          style: simple
          schema:
            type: string
            example: AK-XXXX-XXXX-XXXX-XXXX
      responses:
        '204':
          description: No Content
          headers: {}
          content: {}
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/widget/limits/calculate:
    post:
      tags:
        - Hosted Checkout
      summary: Check Limits
      description: Check current limits for a given wallet order billing address
      operationId: CheckLimits
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitsAPIRequest'
            examples:
              example:
                value:
                  walletType: DEBIT_CARD
                  accountId: AC_XXXXXXXXXX
                  sourceCurrency: USD
                  address:
                    street1: 1234 Fake St
                    city: San Francisco
                    state: CA
                    postalCode: '94105'
                    country: US
                  firstName: Crash
                  lastName: Bandicoot
                  cellNumber: '+15558675309'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsAPIResponse'
              examples:
                example:
                  value:
                    dailyTotalSpent: 0
                    weeklyTotalSpent: 0
                    yearlyTotalSpent: 0
                    dailyTotal: 250
                    weeklyTotal: 1000
                    yearlyTotal: 1500
                    usdConversionRate: 1
                    sourceCurrency: USD
                    dailyRemaining: 250
                    weeklyRemaining: 1000
                    yearlyRemaining: 1500
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
      security: []
  /v3/orders/reserve:
    post:
      tags:
        - Hosted Checkout
      summary: Create Wallet Order Reservation
      description: Lock in wallet order via API before allowing widget operation
      operationId: CreateWalletOrderReservation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletOrderReservationRequest'
            example:
              sourceAmount: '10'
              paymentMethod: debit-card
              amountIncludeFees: true
              sourceCurrency: USD
              destCurrency: ETH
              redirectUrl: 'https://www.sendwyre.com/success'
              failureRedirectUrl: 'https://www.sendwyre.com/failure'
              referrerAccountId: AC_YV8LCV3C9HZ
              dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
              country: US
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWalletOrderReservationResponse'
              examples:
                example:
                  value:
                    url: 'https://pay.testwyre.com/purchase?accountId=AC_XXXXXXXXXX&country=US&failureRedirectUrl=https%3A%2F%2Fwww.sendwyre.com&amount=10&redirectUrl=https%3A%2F%2Fwww.sendeyre.com&utm_campaign=AC_Y22RAQXEYV6&utm_medium=widget&paymentMethod=debit-card&reservation=EFX6DN9ECRPTPDJBEL6U&sourceCurrency=USD&utm_source=checkout'
                    reservation: EFX6DN9ECRPTPDJBEL6U
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/orders/quote/partner:
    post:
      tags:
        - Hosted Checkout
      summary: Create Wallet Order Quotation
      description: Wallet Order Quotation
      operationId: CreateWalletOrderQuotation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletOrderQuotationRequest'
            example:
              amount: 5
              sourceCurrency: USD
              destCurrency: ETH
              dest: 'ethereum:0x89205A3A3b2A69De6Dbf7f01ED13B2108B2c43e7'
              accountId: AC_XXXXXXXX
              country: US
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWalletOrderQuotationResponse'
              examples:
                example:
                  value:
                    sourceCurrency: USD
                    sourceAmount: 5.95
                    destCurrency: ETH
                    destAmount: 0.00988023952095808
                    exchangeRate: 0.00197604790419162
                    equivalencies:
                      CAD: 4.95
                      USDC: 0.00992
                      BTC: 0.00040198
                      ETH: 0.00988023952095808
                      GBP: 4.95
                      DAI: 4.15415123387597
                      AUD: 3.87
                      EUR: 4.95
                      WETH: 0.00988023952095808
                      USD: 4.95
                      MXN: 4.95
                    fees:
                      ETH: 0.001
                      USD: 0.45
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/orders/{orderId}':
    get:
      tags:
        - Hosted Checkout
      summary: Get Wallet Order
      description: Track a wallet order by identifier
      operationId: GetWalletOrder
      parameters:
        - name: orderId
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: WO_XXXXXXXXXX
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletOrderResponse'
              examples:
                example:
                  value:
                    id: WO_ELTUVYCAFPG
                    createdAt: 1576263687643
                    owner: 'account:AC_RNWQNRAZFPC'
                    status: PROCESSING
                    sourceAmount: 1.84
                    sourceCurrency: USD
                    destCurrency: ETH
                    dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                    walletType: APPLE_PAY
                    transferId: null
                    errorMessage: null
                    accountId: AC_RNWQNRAZFPC
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/orders/{orderId}/full':
    get:
      tags:
        - Hosted Checkout
      summary: Get Wallet Order Full
      description: Track a wallet order with full details
      operationId: GetWalletOrderFull
      parameters:
        - name: orderId
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: WO_XXXXXXXXXX
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletOrderFullResponse'
              examples:
                example:
                  value:
                    id: WO_L74RZHNL4BV
                    createdAt: 1586716453000
                    owner: 'account:AC_QXWVTRWPM3U'
                    status: FAILED
                    sourceAmount: 208.26
                    sourceCurrency: USD
                    destCurrency: ETH
                    dest: 'ethereum:0xea8dd9381571D618119912AF553CE81c3c0dFF12'
                    walletType: APPLE_PAY
                    transferId: null
                    errorMessage: We are unable to process your order at this time.
                    accountId: AC_QXWVTRWPM3U
                    orderType: INTERNATIONAL
                    purchaseAmount: 200
                    authCodesRequested: false
                    errorCategory: GENERAL
                    failureReason: null
                    paymentNetworkErrorCode: ISO_8583_05
                    internalErrorCode: DO_NOT_HONOR
                    usdSourceAmount: 208.26
                    usdPurchaseAmount: 200
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/orders/list:
    get:
      tags:
        - Hosted Checkout
      summary: List Orders Paginated
      description: List all wallet orders by pagination
      operationId: ListOrdersPaginated
      parameters:
        - name: offset
          in: query
          style: form
          explode: true
          schema:
            type: string
          description: Determines how many entries to be skipped
        - name: limit
          in: query
          description: Determines the maximum number of items returned from the query
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersPaginatedResponse'
              examples:
                example:
                  value:
                    data:
                      - id: WO_L74RZHNL4BV
                        createdAt: 1586716453000
                        owner: 'account:AC_QXWVTRWPM3U'
                        status: FAILED
                        orderType: INTERNATIONAL
                        sourceAmount: 208.26
                        purchaseAmount: 200
                        sourceCurrency: USD
                        destCurrency: ETH
                        transferId: null
                        dest: 'ethereum:0xea8dd9381571D618119912AF553CE81c3c0dFF12'
                        authCodesRequested: false
                        errorCategory: GENERAL
                        errorMessage: We are unable to process your order at this time.
                        failureReason: null
                        accountId: AC_QXWVTRWPM3U
                        paymentNetworkErrorCode: ISO_8583_05
                        internalErrorCode: DO_NOT_HONOR
                        walletType: TOKENIZED_PAYMENT_METHOD
                        usdSourceAmount: 208.6
                        usdPurchaseAmount: 200
                      - id: WO_LCMCZRD6RJ
                        createdAt: 1605882139000
                        owner: 'account:AC_HNW9ED7XARH'
                        status: PROCESSING
                        orderType: DOMESTIC
                        sourceAmount: '15'
                        purchaseAmount: '9.48'
                        sourceCurrency: USD
                        destCurrency: ETH
                        transferId: TF_FWVEF7N9Q37
                        dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                        authCodesRequested: true
                        errorCategory: null
                        errorCode: null
                        errorMessage: null
                        failureReason: null
                        accountId: AC_HNW9ED7XARH
                        internalErrorCode: null
                        paymentNetworkErrorCode: null
                        walletType: TOKENIZED_PAYMENT_METHOD
                        usdSourceAmount: 15
                        usdPurchaseAmount: 9.48
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v2/transfer/{transferId}/track':
    get:
      tags:
        - Hosted Checkout
      summary: Track Widget Order
      description: Track a wallet order by the transfer identifier
      operationId: TrackWidgetOrder
      parameters:
        - name: transferId
          in: path
          description: The transfer identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackWidgetOrderResponse'
              examples:
                example:
                  value:
                    transferId: TF_MDA6MAY848D
                    feeCurrency: USD
                    fee: 0.84
                    fees:
                      ETH: 0.001
                      USD: 0.33
                    sourceCurrency: USD
                    destCurrency: ETH
                    sourceAmount: 1.84
                    destAmount: 0.001985533306564713
                    destSrn: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                    from: Walletorderholding WO_ELTUVYCAFPG
                    to: null
                    rate: 0.0019760479041916164
                    customId: null
                    status: COMPLETED
                    blockchainNetworkTx: null
                    message: null
                    transferHistoryEntryType: OUTGOING
                    successTimeline:
                      - statusDetails: Initiating Transfer
                        state: INITIATED
                        createdAt: 1576263690000
                      - statusDetails: Processing Exchange
                        state: PENDING
                        createdAt: 1576263690000
                      - statusDetails: Processing Deposit
                        state: PENDING
                        createdAt: 1576263690000
                    failedTimeline: []
                    failureReason: null
                    reversalReason: null
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/widget/supportedCountries:
    get:
      tags:
        - Hosted Checkout
      summary: Get Supported Countries
      description: Retrieve the countries currently supported by the Wyre widget
      operationId: GetSupportedCountries
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedCountriesResponse'
              examples:
                example:
                  value:
                    - DZ
                    - AR
                    - AU
                    - AT
                    - BE
                    - BO
                    - BR
                    - CA
                    - CL
                    - CO
                    - CR
                    - CY
                    - CZ
                    - DK
                    - DO
                    - EE
                    - FI
                    - FR
                    - DE
                    - GR
                    - HK
                    - IS
                    - IN
                    - ID
                    - IE
                    - IL
                    - IT
                    - JP
                    - LV
                    - LT
                    - LU
                    - MY
                    - MX
                    - NP
                    - NL
                    - NZ
                    - 'NO'
                    - PY
                    - PE
                    - PH
                    - PL
                    - PT
                    - SG
                    - SK
                    - SI
                    - ZA
                    - KR
                    - ES
                    - SE
                    - CH
                    - TZ
                    - TH
                    - TR
                    - GB
                    - US
                    - VN
      deprecated: false
      security: []
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/orders/reservation/{reservationId}':
    get:
      tags:
        - Hosted Checkout
      summary: Get Rate Locked Reservation
      description: Get a Rate Locked Reservation by its identifier
      operationId: GetRateLockedReservation
      parameters:
        - name: reservationId
          in: path
          description: The reservation identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReservationResponse'
              examples:
                example:
                  value:
                    amount: null
                    sourceCurrency: USD
                    destCurrency: ETH
                    dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                    referrerAccountId: AC______AAAA
                    sourceAmount: null
                    destAmount: 0.02
                    amountIncludeFees: true
                    street1: 1550 Bryant Street
                    city: San Francisco
                    state: CA
                    postalCode: '94103'
                    country: US
                    firstName: ''
                    lastName: ''
                    phone: ...
                    email: ''
                    lockFields:
                      - sourceAmount
                      - destAmount
                      - amountIncludeFees
                      - paymentMethod
                      - country
                      - sourceCurrency
                      - destCurrency
                      - dest
                      - referrerAccountId
                    redirectUrl: 'http://google.com'
                    failureRedirectUrl: 'http://google.com'
                    paymentMethod: debit-card
                    referenceId: null
                    hideTrackBtn: null
                    quote:
                      sourceCurrency: USD
                      sourceAmount: 8.89
                      sourceAmountWithoutFees: 5.45
                      destCurrency: ETH
                      destAmount: 0.013
                      exchangeRate: 0.0023886138613861386
                      equivalencies:
                        GUSD: 5.26
                        USDC: 5.255737
                        EUR: 4.44
                        USDT: 5.255217
                        GBP: 4.03
                        DAI: 6.081825531005859
                        USD: 5.25
                        CAD: 6.93
                        BUSD: 5.255736808466775
                        USDS: 5.255737
                        HUSD: 5.25573681
                        BTC: 0.00039169
                        ETH: 0.013
                        AUD: 7.38
                        PAX: 5.255736808466775
                        WETH: 0.013
                      fees:
                        ETH: 0.007
                        USD: 0.51
                    quoteLockRequest: true
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/debitcard/authorization/{orderId}':
    get:
      tags:
        - White-Label Card Processing
      summary: Get Authorization
      description: Determine if a card order requires two-factor authentication
      operationId: GetAuthorization
      parameters:
        - name: orderId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: WO_9PUXWLZD888
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorizationResponse'
              examples:
                example:
                  value:
                    walletOrderId: WO_9PUXWLZD888
                    smsNeeded: true
                    card2faNeeded: false
                    authorization3dsUrl: null
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/debitcard/process/partner:
    post:
      tags:
        - White-Label Card Processing
      summary: Create Order
      description: Create a card payment order
      operationId: CreateOrder
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              example:
                value:
                  debitCard:
                    number: '4111111111111111'
                    year: '2023'
                    month: '01'
                    cvv: '123'
                  reservationId: 9BTU8777E4YXFMRCYBTM
                  amount: '10'
                  sourceCurrency: USD
                  destCurrency: BTC
                  dest: 'bitcoin:tb1q6yn0ajs733xsk25vefrhwjey4629qt9c67y6ma'
                  referrerAccountId: AC_Y22RAQXEYV6
                  givenName: Crash
                  familyName: Bandicoot
                  email: test.wyre@sendwyre.com
                  phone: '+18538299156'
                  referenceId: AC_Y22RAQXEYV6
                  address:
                    street1: 1234 Test Ave
                    city: Los Angeles
                    state: CA
                    postalCode: '91423'
                    country: US
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
              examples:
                example:
                  value:
                    id: WO_ELTUVYCAFPG
                    createdAt: 1576263687643
                    owner: 'account:AC_RNWQNRAZFPC'
                    status: PROCESSING
                    transferId: TF_MDA6MAY848D
                    sourceAmount: 1.84
                    sourceCurrency: USD
                    destCurrency: ETH
                    dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                    walletType: APPLE_PAY
                    email: user@company.com
                    errorMessage: null
                    accountId: AC_RNWQNRAZFPC
                    paymentMethodName: Visa 2942
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/debitcard/authorize/partner:
    post:
      tags:
        - White-Label Card Processing
      summary: Submit Authorization
      description: Submit two-factor authentication for a card order
      operationId: SubmitAuthorization
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitAuthorizationRequest'
            example:
              type: SMS
              walletOrderId: WO_Y74E8FXVWJ2
              reservation: NHEA3UYXEXCUX4Y2HG78
              sms: '0'
              card2fa: '0'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitAuthorizationResponse'
              examples:
                example:
                  value:
                    walletOrderId: WO_DX6B3UAVN8B
                    success: true
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/orders/{orderId}/refund/partner':
    post:
      tags:
        - White-Label Card Processing
      summary: Refund Order
      description: Request the refund of a wallet order
      operationId: RefundOrder
      parameters:
        - name: orderId
          in: path
          description: The wallet order identifier
          required: true
          style: simple
          schema:
            type: string
            example: WO_Y74E8FXVWJ2
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOrderResponse'
              examples:
                example:
                  value:
                    walletOrderId: WO_Q9PYNDY8LX
                    createdAt: 1611685410000
                    requester: 'account:AC_8VF3YWMBZ8X'
                    status: COMPLETED
                    finishedAt: 1611685411000
                    failedReason: null
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/orders/{orderId}/refund':
    get:
      tags:
        - White-Label Card Processing
      summary: Get Refund Details
      description: Retrieve the details of a wallet order refund request
      operationId: GetRefundDetails
      parameters:
        - name: orderId
          in: path
          description: The wallet order identifier
          required: true
          style: simple
          schema:
            type: string
            example: WO_Y74E8FXVWJ2
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOrderResponse'
              examples:
                example:
                  value:
                    walletOrderId: WO_Q9PYNDY8LX
                    createdAt: 1611685410000
                    requester: 'account:AC_8VF3YWMBZ8X'
                    status: COMPLETED
                    finishedAt: 1611685411000
                    failedReason: null
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/apple-pay/process/partner:
    post:
      tags:
        - White-Label Card Processing
      summary: Create Apple Pay Order
      description: Create an Apple Pay wallet order
      operationId: CreateApplePayOrder
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplePayOrderRequest'
            example:
              partnerId: YOUR_PARTNER_ACCOUNT_ID
              payload:
                paymentObject:
                  billingContact:
                    addressLines:
                      - street address
                    administrativeArea: IL
                    country: United States
                    countryCode: US
                    familyName: LastName
                    givenName: Your 1st name
                    locality: San Francisco
                    postalCode: '94103'
                    subAdministrativeArea: ''
                    subLocality: ''
                  shippingContact:
                    addressLines:
                      - street address 1
                    administrativeArea: CA
                    country: United States
                    countryCode: US
                    emailAddress: user@sendwyre.com
                    familyName: name
                    givenName: last name
                    locality: San Francisco
                    phoneNumber: 14100000000
                    postalCode: '60606'
                    subAdministrativeArea: ''
                    subLocality: ''
                  token:
                    paymentData:
                      version: ''
                      data: ''
                      signature: ...
                      header:
                        ephemeralPublicKey: ''
                        publicKeyHash: ''
                        transactionId: ''
                    paymentMethod:
                      displayName: Visa 1234
                      network: Visa
                      type: debit
                    transactionIdentifier: ''
                orderRequest:
                  amount: 1.84
                  destCurrency: ETH
                  sourceCurrency: USD
                  ipAddress: end_user_ip_address
                  reservationId: reservationId
                  dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                  referenceId: for_your_reference
                  referrerAccountId: AC_XXXXXXXX
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
              examples:
                example:
                  value:
                    id: WO_ELTUVYCAFPG
                    createdAt: 1576263687643
                    owner: 'account:AC_RNWQNRAZFPC'
                    status: PROCESSING
                    transferId: TF_MDA6MAY848D
                    sourceAmount: 1.84
                    sourceCurrency: USD
                    destCurrency: ETH
                    dest: 'ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341'
                    walletType: APPLE_PAY
                    email: user@company.com
                    errorMessage: null
                    accountId: AC_RNWQNRAZFPC
                    paymentMethodName: Visa 2942
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v2/wallets:
    get:
      tags:
        - Wallets
      summary: List Wallets Paginated
      description: List all wallets by pagination
      operationId: ListWalletsPaginated
      parameters:
        - name: limit
          in: query
          description: The maximum number of results to return
          style: form
          explode: true
          schema:
            type: string
            example: '20'
        - name: offset
          in: query
          description: The number of records to skip
          style: form
          explode: true
          schema:
            type: string
            example: '0'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWalletsPaginatedResponse'
              examples:
                example:
                  value:
                    data:
                      - owner: 'account:AC_XXXXXXXXX1'
                        status: null
                        balances: {}
                        createdAt: 1610571740000
                        pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                        srn: 'wallet:WA_XXXXXXXXX1'
                        notes: null
                        depositAddresses:
                          ETH: '0x69bc42f3c198817da3b9df810bba0671d9a132b2'
                          BTC: mppijDwMXhWqN66V3D5JJCxzuTyFWnUQMs
                        totalBalances: {}
                        availableBalances: {}
                        callbackUrl: null
                        name: user1
                        id: WA_XXXXXXXXXX1
                        type: DEFAULT
                      - owner: 'account:AC_XXXXXXXXX1'
                        status: null
                        balances: {}
                        createdAt: 1610571400000
                        pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                        srn: 'wallet:WA_XXXXXXXXXX2'
                        notes: null
                        depositAddresses:
                          ETH: '0x2d63c083a986d4990bea7de2817e421f373092b5'
                          BTC: n2QnkPgeN5c3snewWbQ9P1uouDRywPRUeu
                        totalBalances: {}
                        availableBalances: {}
                        callbackUrl: null
                        name: user2
                        id: WA_XXXXXXXXXX2
                        type: DEFAULT
                      - owner: 'account:AC_XXXXXXXXXX'
                        status: null
                        balances: {}
                        createdAt: 1610571021000
                        pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                        srn: 'wallet:WA_XXXXXXX3'
                        notes: null
                        depositAddresses:
                          ETH: '0x19e45c5450099e2a39b43e82adb936542d0e1153'
                          BTC: mjrcF3dmUvafzXH3i1ojfPKzsiZ9YqDNNk
                        totalBalances: {}
                        availableBalances: {}
                        callbackUrl: null
                        name: user3
                        id: WA_XXXXXXXXX3
                        type: DEFAULT
                      - owner: 'account:AC_XXXXXXXXX1'
                        pendingInterestBalances:
                          ETH: 0
                          DAI: 0
                          USDC: 0
                          BTC: 0.00000190099863013697
                        savingRates:
                          ETH: 0.04
                          DAI: 0
                          USDC: 0.08
                          BTC: 0.035
                        status: null
                        balances:
                          DAI: 16.83622828784119
                          USDC: 7.084764
                          BTC: 0.0026321
                        createdAt: 1609186777000
                        pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                        srn: 'wallet:WA_XXXXXXXX4'
                        notes: null
                        depositAddresses:
                          ETH: '0x31e5312ca39cdcc855b8e61a35bf75be00f3cc20'
                          BTC: mxsd7xTcVow7bnxdMhwiyTdWvXKqar1nZG
                        totalBalances:
                          DAI: 16.83622828784119
                          USDC: 7.084764
                          BTC: 0.0026321
                        availableBalances:
                          DAI: 16.83622828784119
                          USDC: 7.084764
                          BTC: 0.0026321
                        callbackUrl: null
                        name: user4
                        id: WA_XXXXXXXXX4
                        type: SAVINGS
                      - owner: 'account:AC_XXXXXXXXX1'
                        status: null
                        balances:
                          DAI: 5
                          AUD: 32.81
                          USD: 2880.28
                          MXN: 1001.5
                          USDC: 20
                        createdAt: 1608507863000
                        pusherChannel: user5
                        srn: 'wallet:WA_XXXXXXXXX5'
                        notes: null
                        depositAddresses:
                          ETH: '0x6c91a6eb30cae11ac964c02a207a00acba36a0d6'
                          BTC: mgb2ZVVXyycug7aJi8tQimQNEBXGXVzutq
                        totalBalances:
                          DAI: 5
                          AUD: 32.81
                          USD: 2880.28
                          MXN: 1001.5
                          USDC: 20
                        availableBalances:
                          DAI: 5
                          AUD: 32.81
                          USD: 1880.28
                          MXN: 1001.5
                          USDC: 20
                        callbackUrl: null
                        name: '098098098098'
                        id: WA_XXXXXXXXX5
                        type: DEFAULT
                    position: 20
                    recordsTotal: 8
                    recordsFiltered: 8
                Savings Wallet:
                  value:
                    owner: 'account:AC_XAV3CRAC94P'
                    pendingInterestBalances:
                      ETH: 0
                      USDC: 0
                      BTC: 0
                      DAI: 0.0016717362257274307
                    savingRates:
                      ETH: 0
                      USDC: 0
                      BTC: 0
                      DAI: 0.01
                    status: null
                    depositAddresses:
                      ETH: '0x2ea06b5c0fa2df04ef03f9408c5c9f35c87899c5'
                      BTC: 1DWTHuPMgRk1LnQvXvuZSAv369KhMSs7Tu
                      AVAX: X-avax1nn3ax8dfgmy3g80wxxmq5pltacp7ks6qzecuu0
                      XLM: 'GBRNYP3MCASHJYUZLB7ORY37RNEL7Z6B2QATAZ7LGQLCTUU2ZLQVN65A:MBJBTDQARAM'
                    totalBalances:
                      DAI: 5.084864353254268
                    availableBalances:
                      DAI: 5.084864353254268
                    pusherChannel: 42ca62bbacb5c1d10eae7a5624ddb5cb
                    notes: null
                    callbackUrl: null
                    srn: 'wallet:WA_NA9X2N436GB'
                    createdAt: 1597778481000
                    balances:
                      DAI: 5.084864353254268
                    name: yolo2020
                    id: WA_NA9X2N436GB
                    type: SAVINGS
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    post:
      tags:
        - Wallets
      summary: Create Wallet
      description: Update an existing wallet by its identifier
      operationId: CreateWallet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
            examples:
              example:
                value:
                  name: 'user:6d5dc801'
                  callbackUrl: 'https://callback.url'
                  type: DEFAULT
                  notes: User Wallet
              Savings Wallet:
                value:
                  type: SAVINGS
                  name: your-unique-identifier
                  callbackUrl: 'https://your.website.io/callback'
                  notes: Notes about the sub account
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWalletResponse'
              examples:
                example:
                  value:
                    status: null
                    srn: 'wallet:WA_LLU2FA847JQ'
                    pusherChannel: 55ace6d63a47b9fgf679d329f954ff5f
                    callbackUrl: null
                    balances: {}
                    notes: null
                    depositAddresses:
                      AVAX: X-fuji1gf4q4zww0wt2vht9j02dzxdd6u84catkn6349c
                      XLM: 'GD7WXI7AOAK2CIPZVBEFYLS2NQZI2J4WN4HFYQQ4A2OMFVWGWAL3IW7K:JPLJEMY9264'
                      BTC: mjEcj2LA3vj1nDi8ZD3QMCs9kNqVk7Dpee
                      ETH: '0x084abe6434a0fbe37f666ce5d8fdb803296dd3b2'
                    savingsReferralSRN: null
                    totalBalances: {}
                    availableBalances: {}
                    name: updated-name
                    id: WA_LLU2A847JQ
                    type: DEFAULT
                Savings Wallet:
                  value:
                    owner: 'account:AC_XXXXXXXXXX'
                    pendingInterestBalances:
                      ETH: 0
                      DAI: 0
                      USDC: 0
                      BTC: 0.00000190099863013697
                    savingRates:
                      ETH: 0.04
                      DAI: 0
                      USDC: 0.08
                      BTC: 0.035
                    status: null
                    balances:
                      DAI: 16.83622828784119
                      USDC: 7.084764
                      BTC: 0.0026321
                    createdAt: 1609186777000
                    pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                    srn: 'wallet:WA_XXXXXXXXXX'
                    notes: null
                    depositAddresses:
                      ETH: '0x31e5312ca39cdcc855b8e61a35bf75be00f3cc20'
                      BTC: mxsd7xTcVow7bnxdMhwiyTdWvXKqar1nZG
                      AVAX: X-avax1nn3ax8dfgmy3g80wxxmq5pltacp7ks6qzecuu0
                      XLM: 'GBRNYP3MCASHJYUZLB7ORY37RNEL7Z6B2QATAZ7LGQLCTUU2ZLQVN65A:MBJBTDQARAM'
                    totalBalances:
                      DAI: 16.83622828784119
                      USDC: 7.084764
                      BTC: 0.0026321
                    availableBalances:
                      DAI: 16.83622828784119
                      USDC: 7.084764
                      BTC: 0.0026321
                    callbackUrl: null
                    name: unique-user-wallet-id
                    id: WA_XXXXXXXXXX
                    type: SAVINGS
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v2/wallets/batch:
    post:
      tags:
        - Wallets
      summary: Create Multiple Wallets
      description: Create multiple wallets at once
      operationId: CreateMultipleWallets
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMultipleWalletsRequest'
            examples:
              example:
                value:
                  wallets:
                    - name: walletOne
                      callbackUrl: 'https://callback.url'
                      type: DEFAULT
                      notes: User Wallet 1
                    - name: walletTwo
                      callbackUrl: 'https://callback.url'
                      type: DEFAULT
                      notes: User Wallet 2
                    - name: walletThree
                      callbackUrl: 'https://callback.url'
                      type: DEFAULT
                      notes: User Wallet 3
        required: true
        description: ''
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMultipleWalletsResponse'
              examples:
                example:
                  value:
                    - name: walletOne
                      id: WA_XXXXXXX1
                      notes: ''
                      srn: 'wallet:WA_XXXXXXX1'
                      callbackUrl: ''
                      verificationData: ''
                      depositAddresses:
                        BTC: 2ShKKFb9gEP5uvRXtMbs7ykJAMPgoSSnSWB
                        ETH: 8.580312470520771e+46
                      totalBalances:
                        BTC: 0
                        ETH: 0
                      availableBalances:
                        BTC: 0
                        ETH: 0
                      balances:
                        BTC: 0
                        ETH: 0
                    - name: walletTwo
                      id: WA_XXXXXXX2
                      notes: ''
                      srn: 'wallet:WA_XXXXXXX2'
                      callbackUrl: ''
                      verificationData: ''
                      depositAddresses:
                        BTC: 2ShKndBJNHvzABhBzLxvfzzD2vt64C36dPc
                        ETH: 8.580312470520771e+46
                      totalBalances:
                        BTC: 0
                        ETH: 0
                      availableBalances:
                        BTC: 0
                        ETH: 0
                      balances:
                        BTC: 0
                        ETH: 0
                    - name: walletThree
                      id: WA_XXXXXXX3
                      notes: ''
                      srn: 'wallet:WA_XXXXXXX3'
                      callbackUrl: ''
                      verificationData: ''
                      depositAddresses:
                        BTC: 2ShJsBPUb4HrNtgaNZk3YQSi2ynpZ5YY7sT
                        ETH: 8.580312470520771e+46
                      totalBalances:
                        BTC: 0
                        ETH: 0
                      availableBalances:
                        BTC: 0
                        ETH: 0
                      balances:
                        BTC: 0
                        ETH: 0
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    parameters: []
  '/v2/wallet/{walletId}/update':
    post:
      tags:
        - Wallets
      summary: Update Wallet
      description: Update an existing wallet by its identifier
      operationId: UpdateWallet
      parameters:
        - name: walletId
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: WA_7UVEPAN4W4Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletRequest'
            examples:
              example:
                value:
                  name: random-uid-value-from-your-app-222
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWalletResponse'
              examples:
                example:
                  value:
                    status: null
                    srn: 'wallet:WA_LLU2FA847JQ'
                    pusherChannel: 55ace6d63a47b9fgf679d329f954ff5f
                    callbackUrl: null
                    balances: {}
                    notes: null
                    depositAddresses:
                      AVAX: X-fuji1gf4q4zww0wt2vht9j02dzxdd6u84catkn6349c
                      XLM: 'GD7WXI7AOAK2CIPZVBEFYLS2NQZI2J4WN4HFYQQ4A2OMFVWGWAL3IW7K:JPLJEMY9264'
                      BTC: mjEcj2LA3vj1nDi8ZD3QMCs9kNqVk7Dpee
                      ETH: '0x084abe6434a0fbe37f666ce5d8fdb803296dd3b2'
                    savingsReferralSRN: null
                    totalBalances: {}
                    availableBalances: {}
                    name: updated-name
                    id: WA_LLU2A847JQ
                    type: DEFAULT
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v2/wallet/{walletId}':
    get:
      tags:
        - Wallets
      summary: Get Wallet
      description: Get a wallet by its identifier
      operationId: GetWallet
      parameters:
        - name: walletId
          in: path
          description: The wallet identifier
          required: true
          style: simple
          schema:
            type: string
            example: WA_7UVEPAN4W4Y
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletResponse'
              examples:
                example:
                  value:
                    owner: 'account:AC_XXXXXXXXX'
                    status: null
                    balances:
                      DAI: 5
                      AUD: 32.81
                      USD: 2880.28
                      MXN: 1001.5
                      USDC: 20
                    createdAt: 1608507863000
                    pusherChannel: d89ecb3deae49a753c0df3a2166f46dd
                    srn: 'wallet:WA_XXXXXXXXXX'
                    notes: null
                    depositAddresses:
                      ETH: '0x6c91a6eb30cae11ac964c02a207a00acba36a0d6'
                      BTC: mgb2ZVVXyycug7aJi8tQimQNEBXGXVzutq
                      AVAX: X-avax1nn3ax8dfgmy3g80wxxmq5pltacp7ks6qzecuu0
                      XLM: 'GBRNYP3MCASHJYUZLB7ORY37RNEL7Z6B2QATAZ7LGQLCTUU2ZLQVN65A:MBJBTDQARAM'
                    totalBalances:
                      DAI: 5
                      AUD: 32.81
                      USD: 2880.28
                      MXN: 1001.5
                      USDC: 20
                    availableBalances:
                      DAI: 5
                      AUD: 32.81
                      USD: 1880.28
                      MXN: 1001.5
                      USDC: 20
                    callbackUrl: 'https://your.callback.url'
                    name: your-unique-wallet-id
                    id: WA_XXXXXXXXXX
                    type: DEFAULT
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    delete:
      tags:
        - Wallets
      summary: Delete Wallet
      description: Delete a wallet by its identifier
      operationId: DeleteWallet
      parameters:
        - name: walletId
          in: path
          description: The identifier of the wallet to be deleted
          required: true
          style: simple
          schema:
            type: string
            example: WA_P4BA4E6ET3G
      responses:
        '200':
          description: ''
          headers: {}
          content: {}
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/rates:
    get:
      tags:
        - Transfers and Exchanges
      summary: Get Exchange Rates
      description: Get a list of all current exchange rates
      operationId: GetExchangeRates
      parameters:
        - name: as
          in: query
          description: 'Dictates how you would like the exchange rates to be displayed (can be `DIVISOR`, `MULTIPLIER`, or `PRICED`)'
          style: form
          explode: true
          schema:
            type: string
            example: priced
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeRatesResponse'
              examples:
                as DIVISOR:
                  value:
                    DAIUSD: 1
                    ETHGBP: 0.00614438912894462
                    ETHDAI: 0.00468772651240999
                    BTCDAI: 0.0001553395057
                    BTCUSD: 0.0001551095557793
                    EURCNY: 0.12620487
                    ETHUSD: 0.00468067022563768
                    BRLEUR: 4.268617
                    EURBTC: 5692.5720424425
                    BRLHKD: 0.47708156844125
                    DAIAUD: 0.73113893252359
                    DAIGBP: 1.3140247376079
                as PRICED:
                  value:
                    AUDEUR:
                      AUD: 1.59121648500278
                      EUR: 0.62845
                    ETHAUD:
                      AUD: 168.3649576244532
                      ETH: 0.005939478226998708
                    BRLMXN:
                      MXN: 5.063476
                      BRL: 0.19749278953825
                    MXNUSD:
                      MXN: 18.920698
                      USD: 0.0528521727
      deprecated: false
      security: []
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/transfers:
    post:
      tags:
        - Transfers and Exchanges
      summary: Create Transfer
      description: Create a transfer object
      operationId: CreateTransfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequest'
            examples:
              Fiat USD transfer to payment method:
                value:
                  source: 'account:AC_XXXXXXXX2'
                  sourceCurrency: USD
                  sourceAmount: '200'
                  dest: 'paymentmethod:PA_LXXXXXXXX'
                  destCurrency: USD
                  message: Sending USD to the payment method
                  autoConfirm: true
              Crypto USDT wallet transfer to payment method:
                value:
                  source: 'wallet:WA_XXXXXXXXX'
                  sourceCurrency: USDT
                  sourceAmount: '9.28'
                  dest: 'paymentmethod:PA_2XXXXXXXXX'
                  destCurrency: USD
                  message: To USD Bank account ending in 0000
                  autoConfirm: true
              Crypto BTC wallet transfer to Stellar XLM:
                value:
                  source: 'account:AC_ZW2JME83HMZ'
                  sourceCurrency: BTC
                  sourceAmount: '0.001'
                  dest: 'stellar:GBRNYP3MCASHJYUZLB7ORY37RNEL7Z6B2QATAZ7LGQLCTUU2ZLQVN65A:F6RNMX2UTLH'
                  destCurrency: XLM
                  message: BTC for XLM
                  autoConfirm: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransferResponse'
              examples:
                example:
                  value:
                    owner: 'account:AC_XXXXXXXX1'
                    source: 'account:AC_XXXXXXXX2'
                    createdAt: 604093186746
                    sourceAmount: 201
                    destCurrency: USD
                    sourceCurrency: USD
                    customId: null
                    completedAt: null
                    cancelledAt: null
                    failureReason: null
                    expiresAt: 1604094086746
                    updatedAt: null
                    status: UNCONFIRMED
                    exchangeRate: null
                    destAmount: 200
                    fees:
                      USD: 1
                    totalFees: 1
                    blockchainTx: null
                    reversalReason: null
                    reversingSubStatus: null
                    dest: 'paymentmethod:PA_LXXXXXXXX'
                    statusHistories: []
                    pendingSubStatus: null
                    message: Sending the user payment method
                    id: TF_VXXXXXXXX
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    get:
      tags:
        - Transfers and Exchanges
      summary: List Transfers Paginated
      description: Get a list of all transfers
      operationId: ListTransfersPaginated
      parameters:
        - name: offset
          in: query
          description: Determines the starting position of the returned items
          style: form
          explode: true
          schema:
            type: string
            example: '0'
        - name: limit
          in: query
          description: Determines the maximum number of items returned from the query
          style: form
          explode: true
          schema:
            type: string
            example: '20'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransfersPaginatedResponse'
              examples:
                example:
                  value:
                    data:
                      - closedAt: 1536857934000
                        createdAt: 1536857933000
                        id: TF-PLPZGNU4EHV
                        customId: null
                        source: 'account:AC-RCNPH8MWL3E'
                        dest: 'account:AC-RCNPH8MWL3E'
                        sourceCurrency: USD
                        destCurrency: CNY
                        sourceAmount: 1.01
                        destAmount: 6.83
                        fees:
                          USD: 0.01
                        sourceName: Primary Account
                        destName: Primary Account
                        status: COMPLETED
                        message: null
                        exchangeRate: 6.8349
                        blockchainTxId: null
                        destNickname: null
                      - closedAt: 1524090636000
                        createdAt: 1524090632000
                        id: TF-JD773YWJ3VB
                        customId: null
                        source: 'paymentmethod:TestPaymentMethodApi'
                        dest: 'account:AC-RCNPH8MWL3E'
                        sourceCurrency: USD
                        destCurrency: USD
                        sourceAmount: 10000
                        destAmount: 10000
                        fees: {}
                        sourceName: Payment Method TestPaymentMethodApi
                        destName: Primary Account
                        status: COMPLETED
                        message: null
                        exchangeRate: null
                        blockchainTxId: null
                    position: 0
                    recordsTotal: 2
                    recordsFiltered: 2
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/transfers/{transferId}/confirm':
    post:
      tags:
        - Transfers and Exchanges
      summary: Confirm Transfer
      description: Confirms a transfer if not set to autoconfirm
      operationId: ConfirmTransfer
      parameters:
        - name: transferId
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: TF_XXXXXXXX1
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmTransferResponse'
              examples:
                example:
                  value:
                    owner: 'account:AC_XXXXXXXX1'
                    reversingSubStatus: null
                    source: 'paymentmethod:PA_XXXXXXXX1'
                    pendingSubStatus: null
                    status: COMPLETED
                    reversalReason: null
                    createdAt: 1603824914000
                    sourceAmount: 2.02
                    destCurrency: BTC
                    sourceCurrency: USD
                    statusHistories:
                      - id: QXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 0
                        statusDetail: Initiating Transfer
                        state: INITIATED
                        failedState: null
                      - id: BXXXXXXXX
                        transferId: TF_XXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 200
                        statusDetail: Processing Exchange
                        state: PENDING
                        failedState: null
                      - id: 9XXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824936000
                        type: OUTGOING
                        statusOrder: 400
                        statusDetail: Processing Deposit
                        state: PENDING
                        failedState: null
                      - id: TXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1604346618000
                        type: OUTGOING
                        statusOrder: 5100
                        statusDetail: Transfer Completed
                        state: COMPLETED
                        failedState: null
                    blockchainTx:
                      id: TR_XXXXXXXX1
                      networkTxId: 8ba2f644f71b2eaa5edd8e421df4a0b902e...
                      createdAt: 1604343572000
                      confirmations: 1
                      timeObserved: 1604344752000
                      blockTime: 1604346566000
                      blockhash: 0000000000000000000299574cd707c36...
                      amount: 0.00014529
                      direction: OUTGOING
                      networkFee: 0.00066185
                      address: 3PZsfrHEsCooPM6BC9AXWyfxxxxxxxxxx
                      sourceAddress: null
                      currency: BTC
                      twinTxId: null
                    expiresAt: 1603825514000
                    completedAt: 1604346618000
                    cancelledAt: null
                    failureReason: null
                    updatedAt: 1604346617000
                    exchangeRate: 0.00007264620000000001
                    destAmount: 0.00014529
                    fees:
                      BTC: 0
                      USD: 0.02
                    totalFees: 0.02
                    customId: xxxxxxx-1111-77777-99999-1234567896
                    dest: 'bitcoin:3PZsfrHEsCooPM6BC9AXWyxxxxxxxxxx'
                    message: null
                    id: TF_XXXXXXXX1
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/transfers/{transferId}':
    get:
      tags:
        - Transfers and Exchanges
      summary: Get Transfer
      description: Retrieve a transfer by its identifier
      operationId: GetTransfer
      parameters:
        - name: transferId
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: TF_XXXXXXXX1
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransferResponse'
              examples:
                example:
                  value:
                    owner: 'account:AC_XXXXXXXX1'
                    reversingSubStatus: null
                    source: 'paymentmethod:PA_XXXXXXXX1'
                    pendingSubStatus: null
                    status: COMPLETED
                    reversalReason: null
                    createdAt: 1603824914000
                    sourceAmount: 2.02
                    destCurrency: BTC
                    sourceCurrency: USD
                    statusHistories:
                      - id: QXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 0
                        statusDetail: Initiating Transfer
                        state: INITIATED
                        failedState: null
                      - id: BXXXXXXXX
                        transferId: TF_XXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 200
                        statusDetail: Processing Exchange
                        state: PENDING
                        failedState: null
                      - id: 9XXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824936000
                        type: OUTGOING
                        statusOrder: 400
                        statusDetail: Processing Deposit
                        state: PENDING
                        failedState: null
                      - id: TXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1604346618000
                        type: OUTGOING
                        statusOrder: 5100
                        statusDetail: Transfer Completed
                        state: COMPLETED
                        failedState: null
                    blockchainTx:
                      id: TR_XXXXXXXX1
                      networkTxId: 8ba2f644f71b2eaa5edd8e421df4a0b902e...
                      createdAt: 1604343572000
                      confirmations: 1
                      timeObserved: 1604344752000
                      blockTime: 1604346566000
                      blockhash: 0000000000000000000299574cd707c36...
                      amount: 0.00014529
                      direction: OUTGOING
                      networkFee: 0.00066185
                      address: 3PZsfrHEsCooPM6BC9AXWyfxxxxxxxxxx
                      sourceAddress: null
                      currency: BTC
                      twinTxId: null
                    expiresAt: 1603825514000
                    completedAt: 1604346618000
                    cancelledAt: null
                    failureReason: null
                    updatedAt: 1604346617000
                    exchangeRate: 0.00007264620000000001
                    destAmount: 0.00014529
                    fees:
                      BTC: 0
                      USD: 0.02
                    totalFees: 0.02
                    customId: xxxxxxx-1111-77777-99999-1234567896
                    dest: 'bitcoin:3PZsfrHEsCooPM6BC9AXWyxxxxxxxxxx'
                    message: null
                    id: TF_XXXXXXXX1
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v2/transfer:
    get:
      tags:
        - Transfers and Exchanges
      summary: Get Transfer by Custom Identifier
      description: Retrieve a transfer by its custom identifier
      operationId: GetTransferbyCustomIdentifier
      parameters:
        - name: customId
          in: query
          description: The custom identifier of the transfer to retrieve
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: XXXXXXX
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransferResponse'
              examples:
                example:
                  value:
                    owner: 'account:AC_XXXXXXXX1'
                    reversingSubStatus: null
                    source: 'paymentmethod:PA_XXXXXXXX1'
                    pendingSubStatus: null
                    status: COMPLETED
                    reversalReason: null
                    createdAt: 1603824914000
                    sourceAmount: 2.02
                    destCurrency: BTC
                    sourceCurrency: USD
                    statusHistories:
                      - id: QXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 0
                        statusDetail: Initiating Transfer
                        state: INITIATED
                        failedState: null
                      - id: BXXXXXXXX
                        transferId: TF_XXXXXXX1
                        createdAt: 1603824935000
                        type: OUTGOING
                        statusOrder: 200
                        statusDetail: Processing Exchange
                        state: PENDING
                        failedState: null
                      - id: 9XXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1603824936000
                        type: OUTGOING
                        statusOrder: 400
                        statusDetail: Processing Deposit
                        state: PENDING
                        failedState: null
                      - id: TXXXXXXXX
                        transferId: TF_XXXXXXXX1
                        createdAt: 1604346618000
                        type: OUTGOING
                        statusOrder: 5100
                        statusDetail: Transfer Completed
                        state: COMPLETED
                        failedState: null
                    blockchainTx:
                      id: TR_XXXXXXXX1
                      networkTxId: 8ba2f644f71b2eaa5edd8e421df4a0b902e...
                      createdAt: 1604343572000
                      confirmations: 1
                      timeObserved: 1604344752000
                      blockTime: 1604346566000
                      blockhash: 0000000000000000000299574cd707c36...
                      amount: 0.00014529
                      direction: OUTGOING
                      networkFee: 0.00066185
                      address: 3PZsfrHEsCooPM6BC9AXWyfxxxxxxxxxx
                      sourceAddress: null
                      currency: BTC
                      twinTxId: null
                    expiresAt: 1603825514000
                    completedAt: 1604346618000
                    cancelledAt: null
                    failureReason: null
                    updatedAt: 1604346617000
                    exchangeRate: 0.00007264620000000001
                    destAmount: 0.00014529
                    fees:
                      BTC: 0
                      USD: 0.02
                    totalFees: 0.02
                    customId: xxxxxxx-1111-77777-99999-1234567896
                    dest: 'bitcoin:3PZsfrHEsCooPM6BC9AXWyxxxxxxxxxx'
                    message: null
                    id: TF_XXXXXXXX1
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/swaps:
    post:
      tags:
        - Transfers and Exchanges
      summary: Create Swap
      description: Initiate a transfer without rate-locking before your funds have arrived on Wyre
      operationId: CreateSwap
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSwapRequest'
            examples:
              example:
                value:
                  sourceCurrency: BTC
                  destCurrency: ETH
                  dest: 'ethereum:xxxx'
                  refundTo: 'account:xxxx'
                  notifyUrl: 'http://callback.url'
                  ipAddress: x.x.x.x
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSwapResponse'
              examples:
                example:
                  value:
                    id: SW_Q6T7W394N78
                    owner: 'user:US_BDLD3GBQV2M'
                    status: CREATED
                    sourceCurrency: BTC
                    destCurrency: ETH
                    dest: 'ethereum:0x6c2605f4B60c965AE59aF0461C876B4Fa46227D7'
                    refundTo: 'account:AC_YXQ3RHV8LH7'
                    fundingAddress: 'bitcoin:2ShKJC5uSDe7eCaBkLKsceg4kaJTT3Qau6M'
                    createdAt: 1620263016000
                    updatedAt: 1620263016000
                    expiresAt: 1620522216000
                    swapTransfers: []
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  '/v3/swaps/{swapId}':
    get:
      tags:
        - Transfers and Exchanges
      summary: Get Swap
      description: Retrieve a swap by its identifier
      operationId: GetSwap
      parameters:
        - name: swapId
          in: path
          description: The identifier of the swap to retrieve
          required: true
          style: simple
          schema:
            type: string
            example: SW_6H33HP4D8AG
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSwapResponse'
              examples:
                example:
                  value:
                    id: SW_6H33HP4D8AG
                    owner: 'user:US_BDLD3GBQV2M'
                    status: REFUNDED
                    sourceCurrency: BTC
                    destCurrency: ETH
                    dest: 'ethereum:0x6c2605f4B60c965AE59aF0461C876B4Fa4621234'
                    refundTo: 'account:AC_6CFMLTWW9FD'
                    fundingAddress: 'bitcoin:2ShKKLbocqBf1rbSHRi5rkpW7s8rsQK3jSV'
                    createdAt: 1620258099000
                    updatedAt: 1620258107000
                    expiresAt: 1620517299000
                    swapTransfers:
                      - id: 3V9N6DTRB7E
                        swapId: SW_6H33HP4D8AG
                        transferId: TR_632FGTUBWPX
                        type: SWAP
                        reason: ''
                        refundedTo: ''
                        createdAt: 1620258100000
                        source: 'swap:SW_6H33HP4D8AG'
                        dest: 'ethereum:0x6c2605f4B60c965AE59aF0461C876B4Fa4621234'
                        sourceCurrency: BTC
                        destCurrency: ETH
                        sourceAmount: 0.013156
                        destAmount: 0.0120037839952849
                        transferStatus: FAILED
                        networkTxId: ''
                      - id: JNCC7X6EPX8
                        swapId: SW_6H33HP4D8AG
                        transferId: TR_632FGTUBWPX-W-R
                        type: REFUND
                        reason: Swap failed.
                        refundedTo: 'account:AC_6CFMLTWW9FD'
                        createdAt: 1620258106000
                        source: 'swap:SW_6H33HP4D8AG'
                        dest: 'account:AC_6CFMLTWW9FD'
                        sourceCurrency: BTC
                        destCurrency: BTC
                        sourceAmount: 0.013156
                        destAmount: 0.013156
                        transferStatus: COMPLETED
                        networkTxId: ''
                      - id: N9T9AWAHCPX
                        swapId: SW_6H33HP4D8AG
                        transferId: TR_7HFCLY99NL6-R
                        type: REFUND
                        reason: 'Swap: SW_6H33HP4D8AG is in REFUNDED state. Subsequent deposits to the funding address will be refunded.'
                        refundedTo: 'account:AC_6CFMLTWW9FD'
                        createdAt: 1620258113000
                        source: 'swap:SW_6H33HP4D8AG'
                        dest: 'account:AC_6CFMLTWW9FD'
                        sourceCurrency: BTC
                        destCurrency: BTC
                        sourceAmount: 0.000001
                        destAmount: 0.000001
                        transferStatus: COMPLETED
                        networkTxId: ''
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/swaps/ipCheck:
    post:
      tags:
        - Transfers and Exchanges
      summary: Validate Swap IP
      description: Validate the IP address associated with a swap
      operationId: ValidateSwapIP
      parameters: []
      requestBody:
        description: The IP address to validate
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                ipAddress:
                  type: string
            examples:
              example:
                value:
                  ipAddress: 97.100.200.10
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateSwapIP'
              examples:
                example:
                  value:
                    ipAddress: 97.100.200.10
                    resolvedCountryCode: US
                    result: ACCEPTED
      deprecated: false
      security: []
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v3/swaps/minMax:
    post:
      tags:
        - Transfers and Exchanges
      summary: Get Min & Max Swap Size
      description: Retrieve the minimum and maximum swap sizes for a given currency pair
      operationId: GetMinMaxSwap
      parameters: []
      requestBody:
        description: The source and destination currency pair to retrieve min and max swap sizes for
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  sourceCurrency: BTC
                  destCurrency: ETH
              properties:
                sourceCurrency:
                  type: string
                  minLength: 1
                  example: BTC
                destCurrency:
                  type: string
                  minLength: 1
                  example: ETH
              required:
                - sourceCurrency
                - destCurrency
            examples:
              example:
                value:
                  sourceCurrency: BTC
                  destCurrency: ETH
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  sourceCurrency:
                    type: string
                    minLength: 1
                  destCurrency:
                    type: string
                    minLength: 1
                  minSize:
                    type: number
                  maxSize:
                    type: number
                required:
                  - sourceCurrency
                  - destCurrency
                  - minSize
                  - maxSize
                x-examples:
                  example-1:
                    sourceCurrency: BTC
                    destCurrency: ETH
                    minSize: 0.00102912
                    maxSize: 200.80421687
              examples:
                Success:
                  value:
                    sourceCurrency: BTC
                    destCurrency: ETH
                    minSize: 0.00102912
                    maxSize: 200.80421687
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Unsupported Currency:
                  value:
                    language: en
                    subType: ''
                    compositeType: ''
                    exceptionId: local_628YYV
                    transient: false
                    message: 'Unsupported destCurrency[XLM]'
                    type: ValidationException
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Unauthorized:
                  value:
                    language: en
                    subType: ''
                    compositeType: ''
                    exceptionId: local_7ZGBWP
                    errorCode: accessDenied.insufficientPrivileges
                    transient: false
                    message: Insufficient Privileges
                    type: AccessDeniedException
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    parameters: []
  '/v3/accounts/{accountId}/referredAccounts':
    get:
      tags:
        - Accounts
      summary: Get Referred Accounts
      description: Retrieve all referred account identifiers
      operationId: GetReferredAccounts
      parameters:
        - name: accountId
          in: path
          description: The identifier of the account whose referred accounts you wish to retrieve
          required: true
          style: simple
          schema:
            type: string
            example: AC_XXXXXXXXXX
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReferredAccountsResponse'
              examples:
                example:
                  value:
                    data:
                      - AC_6Y84JLZNPNQ
                      - AC_3M8XVCDLD4D
                      - AC_3N8HWNYC26T
                      - AC_24V3W2HUWC8
                    position: 0
                    recordsTotal: 4
                    recordsFiltered: 4
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
  /v2/paymentMethods:
    get:
      tags:
        - Payment Methods
      summary: List Payment Methods
      description: Retrieve all payment methods owned by the current account
      operationId: ListPaymentMethods
      parameters:
        - name: offset
          in: query
          description: The amount of entries to be skipped
          style: form
          explode: true
          schema:
            type: string
            example: '0'
        - name: limit
          in: query
          description: The maximum amount of items to retrieve
          style: form
          explode: true
          schema:
            type: string
            example: '20'
        - schema:
            type: boolean
          in: query
          name: withoutPII
          description: 'If true, returns the status of all payment methods without any PII (personally identifiable information)'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentMethodsResponse'
              examples:
                example:
                  value:
                    data:
                      - id: PA-W7YN28ABCHT
                        owner: 'account:AC-XX38VYXUA84'
                        createdAt: 1542771684392
                        name: Plaid Checking 0000
                        defaultCurrency: USD
                        status: PENDING
                        statusMessage: null
                        waitingPrompts: []
                        linkType: LOCAL_TRANSFER
                        beneficiaryType: UNKNOWN
                        supportsDeposit: true
                        nameOnMethod: null
                        last4Digits: '0000'
                        brand: null
                        expirationDisplay: null
                        countryCode: US
                        nickname: null
                        rejectionMessage: null
                        disabled: false
                        supportsPayment: true
                        chargeableCurrencies:
                          - USD
                        depositableCurrencies:
                          - USD
                        srn: 'paymentmethod:PA-W7YN28ABCHT'
                        chargeFeeSchedule: null
                        depositFeeSchedule: null
                        minCharge: null
                        maxCharge: null
                        minDeposit: null
                        maxDeposit: null
                        documents: []
                        blockchains: {}
                        liquidationBalances: {}
                    recordsTotal: 1
                    position: 0
                withoutPII=true:
                  value:
                    data:
                      - id: PA_4SLOHEZJF82
                        owner: 'account:AC_CDLBWRACBJV'
                        createdAt: 1625832628000
                        createdBy: 'compliancerecord:CO_CSP4LFM2E3Z'
                        name: null
                        defaultCurrency: USD
                        fingerprint: null
                        provider: ''
                        providerId: null
                        providerIds: {}
                        status: ACTIVE
                        statusMessage: null
                        waitingPrompts: []
                        providerData: {}
                        linkType: UNKNOWN
                        beneficiaryType: UNKNOWN
                        supportsDeposit: false
                        nameOnMethod: null
                        last4Digits: null
                        brand: null
                        expirationDisplay: null
                        countryCode: null
                        nickname: null
                        underReviewAt: null
                        reviewReason: null
                        rejectionMessage: null
                        supportsPayment: false
                        disabled: false
                        chargeableCurrencies: []
                        depositableCurrencies: []
                        details: null
                        chargeFeeSchedule: null
                        depositFeeSchedule: null
                        minCharge: null
                        maxCharge: null
                        minDeposit: null
                        maxDeposit: null
                        documents: null
                        deletedDocuments: null
                        ownerName: null
                        blockchains: null
                        liquidationBalances: null
                        internationalAccount: null
                        srn: 'paymentmethod:PA_4NDBSEZJF82'
                    position: 0
                    recordsTotal: 1
                    recordsFiltered: 1
      deprecated: false
      servers:
        - url: 'https://api.testwyre.com'
          variables: {}
    post:
      tags:
        - Payment Methods
      summary: Create Payment Method
      description: Create a payment method
      operationId: CreatePaymentMethod
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
            examples:
              Plaid Processor Token:
                value:
                  plaidProcessorToken: processor-sandbox-0asd1-a92nc
                  paymentMethodType: LOCAL_TRANSFER
                  country: US
              "\U0001F1FA\U0001F1F8 International Transfer US":
                value:
                  paymentMethodType: INTERNATIONAL_TRANSFER
                  paymentType: LOCAL_BANK_WIRE
                  currency: USD
                  country: US
                  beneficiaryType: INDIVIDUAL
                  firstNameOnAccount: Sally
                  lastNameOnAccount: Smith
                  beneficiaryAddress: 1234 Main St.
                  beneficiaryAddress2: ''
                  beneficiaryCity: Los Angeles
                  beneficiaryPostal: '91604'
                  beneficiaryPhoneNumber: '+15555555555'
                  beneficaryState: CA
                  beneficiaryDobDay: 2
                  beneficiaryDobMonth: 12
                  beneficiaryDobYear: 1990
                  accountNumber: '1234567890123'
                  routingNumber: '123412312'
                  accountType: CHECKING
                  chargeablePM: false
              "\U0001F1F2\U0001F1FD International Transfer MX":
                value:
                  paymentMethodType: INTERNATIONAL_TRANSFER
                  paymentType: LOCAL_BANK_WIRE
                  currency: MXN
                  country: MX
                  beneficiaryType: INDIVIDUAL
                  firstNameOnAccount: Raul
                  lastNameOnAccount: Reyes
                  accountNumber: '1234567890123'
                  clabe: '123412341200000000'
                  chargeablePM: false
              "\U0001F1E6\U0001F1FA International Transfer AU":
                value:
                  paymentMethodType: INTERNATIONAL_TRANSFER
                  paymentType: LOCAL_BANK_WIRE
                  beneficiaryType: INDIVIDUAL
                  country: AU
                  currency: AUD
                  beneficiaryAddress: 112 Brannan St
                  beneficiaryAddress2: ''
                  beneficiaryCity: Melbourne
                  bsbNumber: XXY-ZZZ
                  beneficiaryPhoneNumber: '+14102239203'
                  firstNameOnAccount: Peter
                  lastNameOnAccount: Jones
                  accountNumber: '0000000000000'
                  accountType: CHECKING
                  chargeablePM: false
              "\U0001F1EC\U0001F1E7 International Transfer UK":
                value:
                  paymentMethodType: INTERNATIONAL_TRANSFER
                  country: UK
                  currency: GBP
                  beneficiaryType: INDIVIDUAL
                  beneficiaryAddress: 112 Brannan St
                  beneficiaryAddress2: ''
                  beneficiaryCity: London
                  beneficiaryName: John Smith
                  beneficiaryPhoneNumber: '+14102239203'
                  swiftBic: '234242'
                  paymentType: LOCAL_BANK_WIRE
                  firstNameOnAccount: Billy
                  lastNameOnAccount: Jones
                  accountNumber: '0000000000000'
                  accountType: CHECKING
                  chargeablePM: false
              "\U0001F1E7\U0001F1F7 International Transfer BR":
                value:
                  paymentMethodType: INTERNATIONAL_TRANSFER
                  bankCode: '341'
                  bankName: ITAU
                  branchCode: '6199'
                  nameOnAccount: Steve McQueen
                  accountNumber: 4444-5
                  accountType: corrente
                  cpfCnpj: '00000000000'
                  currency: BRL
                  country: BR
                  accountHolderPhoneNumber: '+559936210617'
                  chargeablePM: false
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentMethodResponse'
              examples:
                Plaid Processor Token:
                  value:
                    id: PA_C93QR8QNDAV
                    owner: 'account:AC_XX38VYXUA84'
                    createdAt: 1628877860703
                    name: Plaid Checking 0000
                    defaultCurrency: USD
                    fingerprint: BANK-vuXcdw7k55S2zkd6C0vxXxDQcSqSNaT7yDyfqw0U8+I=
                    status: PENDING
                    statusMessage: null
                    waitingPrompts: []
                    linkType: LOCAL_TRANSFER
                    beneficiaryType: UNKNOWN
                    supportsDeposit: true
                    nameOnMethod: Billy-Bob Jones
                    last4Digits: '0000'
                    brand: null
                    expirationDisplay: null
                    countryCode: US
                    nickname: null
                    rejectionMessage: null
                    disabled: false
                    supportsPayment: true
                    chargeableCurrencies:
                      - USD
                    depositableCurrencies:
                      - USD
                    chargeFeeSchedule: null
                    depositFeeSchedule: null
                    minCharge: null
                    maxCharge: null
                    minDeposit: null
                    maxDeposit: null
                    documents: []
                    blockchains: {}
                    liquidationBalances: {}
                    srn: 'paymentmethod:PA_C93QR8QNDAV'
                "\U0001F1FA\U0001F1F8 International Transfer US":
                  value:
                    id: PA_C93QR8QNDAV
                    owner: 'account:AC_YV8LCV3C9HZ'
                    createdAt: 1628877860703
                    name: USD Bank account ending in 0000
                    defaultCurrency: USD
                    fingerprint: BANK-vuXcdw7k55S2zkd6C0vxXxDQcSqSNaT7yDyfqw0U8+I=
                    status: AWAITING_FOLLOWUP
                    statusMessage: null
                    waitingPrompts:
                      - id: 8VY7PXCR2MC
                        prompt: Upload a bank statement
                        responses: []
                        type: DOCUMENT
                    linkType: INTERNATIONAL_TRANSFER
                    beneficiaryType: INDIVIDUAL
                    supportsDeposit: true
                    nameOnMethod: Billy-Bob Jones
                    last4Digits: '0000'
                    brand: null
                    expirationDisplay: null
                    countryCode: US
                    nickname: null
                    rejectionMessage: null
                    disabled: false
                    supportsPayment: true
                    chargeableCurrencies:
                      - USD
                    depositableCurrencies:
                      - USD
                    chargeFeeSchedule: null
                    depositFeeSchedule: null
                    minCharge: null
                    maxCharge: null
                    minDeposit: null
                    maxDeposit: null
                    documents: []
                    blockchains: {}
                    liquidationBalances: {}
                    srn: 'paymentmethod:PA_C93QR8QNDAV'
                "\U0001F1F2\U0001F1FD International Transfer MX":
                  value:
                    id: PA_UP2XAELHJBD
                    owner: 'account:AC_Y22RAQXEYV6'
                    createdAt: 1608491039047
                    createdBy: 'account:AC_Y22RAQXEYV6'
                    name: MXN Bank account ending in 0123
                    defaultCurrency: MXN
                    status: AWAITING_FOLLOWUP
[...]
